<div class="card text-center card-inverse w-100 h-100" style="background-color: lightblue; border-color: #333; border-radius: 3em">
    <div class="card-header">
        <span>{{card.id + 1}}</span>
      </div>
    <div class="card-block">
      <h1 class="card-title" style="font-size:5em">{{card.text}}</h1>
    </div>
    <div class="card-footer text-muted">
      <span *ngFor="let category of findCategories(card.categories); let odd = odd">
          <span class="badge badge-default">{{category}}</span>
        </span>
    </div>
</div>
